<!-- page for movie with its tags and reviews -->
<section class="movie">
    <h2 class="movie-title-line">{{title}}</h2>
    <!--movie poster-->
    <h3>{{description}}</h3>
    <a href="/add_review/{{id}}">Write a review about this movie</a>

    <!--reviews: user_id, description, rating-->
    {{#each reviews as |review|}}
    <div class="review-box">
        <br>
        <h4 class="review-title-line" style="font-weight:bolder"> {{title}} by {{user.name}} </h4>
        <p><blockquote>{{description}}</blockquote></p>
        
    </div>
    {{/each}}
</section>
