<!-- page for movie with its tags and reviews -->
<section>
    <h2 class="movie-title-line">{{title}}</h2>
    <!--movie poster-->
    <p>{{description}}</p>

    <!--reviews: user_id, description, rating-->
    {{#each reviews as |review|}}
    <div class="review-box">
        <p class="review-title-line">{{title}} by {{user.name}} </p>
        <p>{{description}}</p>
    </div>
    {{/each}}
</section> 
